
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align_items {
  align-items: center;
}

.flex-grow {
  flex-direction: grow;
}

.box {
  display: flex;
}
.justify-content {
  justify-content: space-between;
}