* {
  box-sizing: border-box;
}
/* #region navbar */

/* navbar start */
nav {
  height: 56px;
  background-color: blue;
  padding-left: 16px;
  padding-right: 16px;
}

div {
  height: 100%;
  width: 100%;
}

/* start block left */
.left {
  align-items: center;
  background-color: aqua;
}

.bar-menu-container {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

h2 {
  font-weight: bold;
}

.mx-potens {
  height: 25px;
  font-size: 10px;
}

/* finish block left */

/* start block center */

.center {
  background-color: green;
}

.button {
  height: 40px;
  width: 64px;
  border-radius: 0;
  shape-margin: 0;
}

/* finish block center */

/* start block right */

.right {
  background-color: crimson;
  padding-inline-start: 5%;
}

.photo {
  background-color: rgba(255, 255, 255, 5);
}

.apps {
  background-color: rgba(255, 255, 255, 5);
}

.bell {
  background-color: rgba(255, 255, 255, 5);
}

/* finish navbar */

/* start aside */

aside {
  background-color: rgb(123, 123, 241);
}

.video {
  background-color: coral;
  
  padding-left: 150px;
  padding-top: 25px;
}

.videos {
  background-color: chartreuse;
  padding: auto;
}

.nmvideo {
  background-color: violet;
  padding-left: 1%;
}

.info2 {
  background-color: yellow;
  margin-right: 45%;  
}

.vi-relacionado {
  background-color: chartreuse;
  margin: 1%;
}
.div_videos {
  background-color: violet;
}

.tittle_song {
  background-color: aqua;
  margin: 10%;
}
.menvideos {
  background-color: darkblue;
}

/* end aside */

/* #endregion navbar */


/* papa */

.papa {
  background-color: teal;
  height: 80vh;
  width: 100%;
}
.izquierda {
  background-color: rgb(255, 71, 86);
  height: 100%;
}


.derecha {
  background-color: springgreen;
  height: 100%;
  width: 40%;
}

.boton {
  background-color: grey;
}

.boton:hover {
  background-color: red;
  cursor: pointer;
}



